.overflow-container{
    padding-bottom: 20px;
}


.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 400px;
    margin: 20px 10px 0px 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 14px;
}

.card:hover .media { opacity: 0.8; transition-duration: 1s; }
.card:hover .title { opacity: 0.8; transition-duration: 1s; }

.card .media {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    /*border: 1px solid;*/
}

.card .media img{
    width: 100%;
    border-radius: inherit;
}

.card .title {
    width: 95%;
    margin: auto;

    font-size: 1.7em;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
}

.card .content {
    width: 90%;
    margin: 5px auto 0px auto;

    font-size: 1em;
    color: rgba(0, 0, 0, 0.66);
    line-height: 1.33;
    text-align: justify;
}

.card .action{

}
