.overflow-container{
    padding-bottom: 20px;
}

.search-container{
    margin: 5px;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 345px !important;
    margin: 5px;
}
